<?xml version="1.0"?>
<!--
  Usage:
    roslaunch cr5_bringup cr5_bringup.launch robot_ip:=<value>
    roslaunch dobot_moveit moveit.launch fake_execution:=true  (for simulation)
-->
<launch>
  <arg name="DOBOT_TYPE" default="$(optenv DOBOT_TYPE cr5)" />
  <arg name="fake_execution" default="false" />
  <include file="$(dirname)/../../$(arg DOBOT_TYPE)_moveit/launch/$(arg DOBOT_TYPE)_moveit.launch">
    <arg name="fake_execution" value="$(arg fake_execution)" />
  </include>
</launch>