<launch>
  <arg name="dobot_type" default="$(env DOBOT_TYPE)" doc="DOBOT_TYPE [cr3, cr5, cr7, cr10, cr12, cr16, me6, nova2, nova5]" />

  <param name="robot_description" textfile="$(find dobot_description)/urdf/$(arg dobot_type)_robot.urdf" />
  <!-- 不启动 joint_state_publisher_gui，避免与真实机器人数据冲突 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dobot_description)/rviz/urdf.rviz" />
</launch>
